<div class="row" data-controls hx-target="this" hx-swap="outerHTML">
  {% set active = record.supervisor.status.value in ('starting', 'running', 'stopping') %}
  <button hx-indicator="#controls-spinner-{{ record.config.id }}" class="primary" hx-post="/instances/{{ record.config.id }}/start"
          {{ 'disabled' if active }}>Start</button>
  <button hx-indicator="#controls-spinner-{{ record.config.id }}" hx-post="/instances/{{ record.config.id }}/stop"
          {{ 'disabled' if not active }}>Stop</button>
  <button hx-indicator="#controls-spinner-{{ record.config.id }}" hx-post="/instances/{{ record.config.id }}/restart"
          {{ 'disabled' if not active }}>Restart</button>
  <div id="controls-spinner-{{ record.config.id }}" class="spinner htmx-indicator">
      <span class="spinner-icon"></span>
            working…
  </div>
</div>
