<div id="setup-log"
     {% if task.running %}hx-get="/settings/log" hx-trigger="every 2s" hx-swap="outerHTML"{% endif %}>
  {% if task.lines %}
    <div class="console" style="height:260px">{% for line in task.lines %}<div class="line {{ 'mgr' if '[manager]' in line }} {{ 'err' if '[error]' in line }}">{{ line }}</div>{% endfor %}</div>
    {% if task.running %}<div id="build-spinner" class="spinner htmx-indicator" style="display:flex; opacity:1"><span class="spinner-icon"></span>
                Running...</div>{% endif %}
  {% endif %}
</div>
